@use "../../variables";

header {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

.Header {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: relative;

  > i {
    display: none;
  }

  &__background--1 {
    content: " ";
    position: absolute;
    width: 150px;
    height: 70px;
    top: 0;
    left: 0;
    background-color: variables.$marvel_red;
    transform: skewX(-20deg);
    z-index: -1;

    &:hover {
      transform: skewX(0deg);
      transition: 0.2s;
      border-radius: 20px 0 20px 0;
    }
  }

  &__background--2 {
    content: " ";
    position: absolute;
    width: 98%;
    height: 70px;
    top: 0;
    left: 2%;
    background-color: variables.$marvel_black;
    transform: skewX(-20deg);
    z-index: -2;
  }

  img {
    width: 120px;
    cursor: pointer;
    margin-left: 1.5rem;
    z-index: 0;

    &:hover + .Header__background--1 {
      transform: skewX(0deg);
      transition: 0.2s;
      border-radius: 20px 0 20px 0;
    }
  }

  &__user {
    background-color: aqua;
  }

  &__background--3 {
    content: " ";
    position: absolute;
    width: 0rem;
    height: 70px;
    top: 0;
    right: 0;
    transform: skewX(-20deg);
    z-index: -1;
    background-color: variables.$marvel_red;
  }
}

@keyframes propagation {
  0% {
    width: 0rem;
  }
  100% {
    width: 8rem;
  }
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  p {
    margin-left: 2rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.2rem 1rem;

    &:hover {
      background: #ec1d24;
      box-shadow: inset 5px 5px 7px #a51419, inset -5px -5px 7px #ff262f;
      border-radius: 20px 0 20px 0;
      transition: 0.3s;
    }
  }

  p {
    position: relative;
  }

  .Nav__localisation {
    &::after {
      content: " ";
      position: absolute;
      top: 3.5rem;
      left: 50%;
      width: 1px;
      height: 1.6rem;
      background-color: variables.$marvel_red;
      transition: 1s;
    }
  }

  .Nav__separate {
    width: 1px;
    height: 70px;
    background-color: #fff;
    margin-left: 2rem;
    transform: skewX(-20deg);
  }

  .Nav__user {
    margin-left: 1rem;
    height: 70px;
    width: 70px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > i {
      color: variables.$marvel_red;
    }

    > div {
      background-color: #ec1d24;
      position: absolute;
      top: 7rem;
      right: 1.25rem;
      background-color: variables.$marvel_black;
      border-radius: 0 0 15px 15px;
      max-height: 0;
      overflow: hidden;

      li {
        padding: 1rem;
        white-space: nowrap;
        font-size: 1.6rem;
        display: flex;
        align-items: center;

        i {
          color: #fff;
          font-size: 1.6rem;
          margin-right: 1rem;
        }

        &:hover {
          background: #ec1d24;
          box-shadow: inset 5px 5px 7px #a51419, inset -5px -5px 7px #ff262f;
          border-radius: 20px 0 20px 0;
          transition: 0.3s;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;

      button {
        padding: 1rem;
        width: 9rem;
        border: none;

        font-size: 1.5rem;
        font-family: "Ubuntu", sans-serif;
        border-radius: 20px 0 20px 0;
        cursor: pointer;
      }

      &__signup {
        background-color: white;
        box-shadow: inset 5px 5px 7px #cbcbd1, inset -5px -5px 7px #ffffff;
        color: variables.$marvel_red;
        margin-right: 1rem;
      }

      &__login,
      &__disconnect {
        background: #ec1d24;
        box-shadow: inset 5px 5px 7px #a51419, inset -5px -5px 7px #ff262f;
        color: white;
      }
    }

    &:hover {
      > i {
        color: #fff;
        transition: 0.3s;
      }

      + .Header__background--3 {
        transition: 0.3s;
        width: 9rem;
        background: #ec1d24;
        box-shadow: inset 8px 8px 16px #a51419, inset -8px -8px 16px #ff262f;
      }

      @keyframes openMenu {
        0% {
          max-height: 0%;
        }
        100% {
          max-height: 400px;
        }
      }

      > div {
        animation: openMenu 1s forwards;
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    width: 100%;
  }

  .Header {
    > i {
      display: block;
      font-size: 3rem;
      margin-right: 2rem;
      cursor: pointer;
    }

    nav {
      display: none;

      > i {
        position: absolute;
        top: 3rem;
        right: 3rem;
        font-size: 4rem;
      }

      .Nav__separate {
        display: none;
      }

      .Nav__user {
        > i {
          display: none;
        }

        > div {
          display: block;
          max-height: 400%;
          position: initial;
          min-width: fit-content;
          background-color: none;
        }

        &__buttons {
          flex-direction: column;

          button {
            margin-top: 2rem;
          }
        }

        &:hover {
          > div {
            animation: none;
          }
        }
      }
    }

    .mobileHeader {
      display: block;
      position: fixed;
      height: 100vh;
      margin: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      background-color: variables.$marvel_black;
      z-index: 1000;
    }
  }
}
